/* #region CSS Head */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--color-white);
    margin: 0;
    font-family: 'Inter', sans-serif;
}


.layout {
    margin: 0 auto;
}

hr {
    width: 90%;
    margin-top: 65px;
    margin-bottom: 65px;
}

/* #endregion */

/* #region Variabili */
:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-background: #ffffff;
    --color-text-light: #ffffff;
}
/* #endregion */

/* #region Topbar */
.topbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: var(--color-white);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    gap: 25px;
    font-size: 16px;
    margin-right: 350px;
    margin-top: 0;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar1 {
    font-size: 15px;
    font-weight: bold;
    
}

.navbar2 {
    font-size: 10px;
    font-weight: normal;
    margin-top: -8px;
}

/* #endregion */

/* #region Main Hero */
.main-content {
    margin: 0;
    padding: 0;
}

.logocontainer img {
    width: 59px;
    height: auto;
    margin-left: 350px;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}
.worldcontainer img {
    margin-top: 0;
    width: 100%;
    height: auto;
    display: block;
}
.goals {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textcrazy {
    color: var(--color-text-light);
    margin-top: -500px;
    z-index: 1;
}

.text1 {
    font-size: 60px;
    font-weight: bold;
    
}
.text2 {
    font-size: 25px;
    font-weight: normal;
}
.text3 {
    font-size: 20px;
    font-weight: normal;
}
/* #endregion */

/* #region Button */
.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 0.9rem;
    background-color: var(--clr);
    color: var(--color-white);
    border-radius: 10rem;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.9rem 1.8rem;
    padding-left: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translateY(10px);
    transition: background-color 0.3s;
}

.button__icon-wrapper {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    position: relative;
    color: var(--clr);
    background-color: var(--color-white);
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button__icon-svg {
    width: 12px;
    height: 12px;
}

.button:hover {
    background-color: var(--color-black);
}

.button:hover .button__icon-wrapper {
    color: var(--color-black);
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}
/* #endregion */

/* #region Cards */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 210px;
    width: 100%;
    gap: 50px;
}

.card {
 width: 365px;
 height: 254px;
 background: white;
 border-radius: 10px;
 transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.shadow {
 box-shadow: inset 0 -1em 1em rgba(0,0,0,0.05),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.card-text {
    font-size: 50px;
    font-weight: bold;
}
.card-subtext {
    color: rgb(67, 67, 67);
    transform: translateY(-40px);
}

.card-img {
    width: 70px;
    display: block;
    margin: 0 auto;
    transform: translateY(20px);
}

/* #endregion */

/* #region Informative Section  */
.explanation {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
        
}
.info-header {
    font-size: 40px;
    font-weight: normal;
    text-align: left;
    margin-left: 350px;
}
.info-text {
    font-size: 18px;
    color: rgb(67, 67, 67);
    text-align: left;
    line-height: 1.5;
    margin-left: 350px;
}

.button1 {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  background: rgb(164, 46, 194);
  color: #fff;
  cursor: pointer;
  margin-left: 350px;
}

.button1-text {
  transform: translateX(15px);
  font-size: 1.5em;
  font-weight: 700;
  transition-duration: 0.3s;
}

.iconer1 {
  transform: translateY(35px);
  transition-duration: 0.3s;
}

.button1:hover .button1-text {
  transform: translateX(0px);
}

.button1:hover .iconer1 {
  transform: translateY(0px);
}

.info-img-container {    
    margin-left: auto;
}

.info-img {
    border-radius: 10px;
    width: 270px;
    height: 220px;
    object-fit: cover;
    margin-top: 20px;
    
}

.info-img2, .info-img4 {
    margin-right: 350px;
    margin-left: 10px;
    transform: translateY(20px);
}
/* #endregion */

/* #region Featured Goals  */

.goals-header {
    font-weight: normal;
    font-size: 40px;
    text-align: center;
}

.goals-paragraph {
    font-size: 18px;
    color: rgb(67, 67, 67);
    text-align: center;
    line-height: 1.5;
    transform: translateY(-20px);
}

/* From Uiverse.io by alexmaracinaru */ 
.card2 {
  width: 290px;
  background: white;
  padding: .4em;
  border-radius: 6px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
.card2-box {
    display: flex;

    gap: 160px;
}

.card-image2 {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 130px;
  border-radius: 6px 6px 0 0;
}

.card-image2:hover {
  transform: scale(0.98);
}

.category2 {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category2:hover {
  cursor: pointer;
}

.heading2 {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading2:hover {
  cursor: pointer;
}


.button2 {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  background: rgb(164, 46, 194);
  color: #fff;
  cursor: pointer;
  transform: translateY(50px);
}

.button2-text {
  transform: translateX(15px);
  font-size: 1.5em;
  font-weight: 700;
  transition-duration: 0.3s;
}

.iconer2 {
  transform: translateY(35px);
  transition-duration: 0.3s;
}

.button2:hover .button2-text {
  transform: translateX(0px);
}

.button2:hover .iconer2 {
  transform: translateY(0px);
}

/* #endregion */